/* Education.css */

.education {
    padding: 60px 20px;
    background: linear-gradient(to right, #1d1e52, #3ca5e2);
    text-align: center;
  }
  
  .education-title {
    font-size: 2rem;
    margin-bottom: 40px;
    color: #ffffff;
  }
  
  .education-item {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    transition: transform 0.3s, box-shadow 0.3s;
    font-weight: bold;
    font-size: 1rem;
  }
  
  .education-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    background: linear-gradient(to right, #61ffd7, #ffcd43);
  }
  
  .degree {
    font-size: 1.5rem;
    color: #ff6f61;
  }
  
  .institution {
    font-size: 1.2rem;
    color: #2e2d2d;
  }
  
  .duration {
    font-size: 1rem;
    color: #423838;
    margin: 10px 0;
  }
  
  .details {
    font-size: 1rem;
    color: #4b4a4a;
    margin-top: 10px;
  }
  .InstButton{
    padding: 10px 20px;
    background-color: #ffffff;
    color: #e66748;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  .InstButton:hover {
    transform: scale(1.1);
  }