/* Education.css */

.education {
    padding: 60px 20px;
    background-color: linear-gradient(#f76126 to #d1565f);
    text-align: center;
  }
  
  .education-title {
    font-size: 2.5rem;
    margin-bottom: 40px;
    color: #070707;
  }
  
  .education-item {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .education-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    background-color: rgb(229, 247, 164);
  }
  
  .degree {
    font-size: 1.5rem;
    font-weight: bold;
    color: #ff6f61;
  }
  
  .institution {
    font-size: 1.2rem;
    color: #666;
  }
  
  .duration {
    font-size: 1rem;
    color: #999;
    margin: 10px 0;
  }
  
  .details {
    font-size: 1rem;
    color: #333;
    margin-top: 10px;
  }
  .InstButton{
    padding: 10px 20px;
    background-color: #fff;
    color: #ff6f61;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  .InstButton:hover {
    transform: scale(1.1);
  }